<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Custom::top_level" title="Multivendor Product" module="Custom_MultiVendor" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Custom_MultiVendor::custom_multivendor_custom_multivendor" title="Multivendor Product" module="Custom_MultiVendor" sortOrder="9999" resource="Magento_Backend::content" parent="Custom::top_level" action="custom_multivendor/custommultivendor/index"/>
	</menu>
</config>
